[user]
	name = kca2250
	email = 2250katok@gmail.com

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore_global
    ignorecase = false # ファイル名の大文字、小文字を区別してくれる
    hooksPath = ~/.config/git/hooks
    pager = bat --plain --language=diff --file-name="GitDiff" --paging=always

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[alias]
    st = status --branch -uall
    d  = diff
    ds = diff --staged
    co = checkout
    br = branch
    cm = commit -m
    sw = switch
    lg = log --oneline --graph --decorate

[commit]
    verbose = true # コミットメッセージ書く時に変更内容を見れる

[merge]
    conflictstyle = diff3 # コンフリクト時に「元の状態」も見えるように

[fetch]
    prune = true # fetch -pを自動で

[branch] 
    sort = -committerdate # 最近使ったブランチを上に


[diff]
    stat = true
    colorMoved = default
